<div id="languages-modal" class="modal">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Select a language</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="check-cards-group">
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" checked />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/united-states-of-america.svg"
                alt=""
              />
              <div class="meta">
                <span>English [US]</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/england.svg"
                alt=""
              />
              <div class="meta">
                <span>English [UK]</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/france.svg"
                alt=""
              />
              <div class="meta">
                <span>French [FR]</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/canada.svg"
                alt=""
              />
              <div class="meta">
                <span>French [CA]</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/germany.svg"
                alt=""
              />
              <div class="meta">
                <span>German</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/spain.svg"
                alt=""
              />
              <div class="meta">
                <span>Spanish</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/portugal.svg"
                alt=""
              />
              <div class="meta">
                <span>Portuguese</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/brazil.svg"
                alt=""
              />
              <div class="meta">
                <span>Portuguese [BR]</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/china.svg"
                alt=""
              />
              <div class="meta">
                <span>Chinese</span>
              </div>
            </div>
          </div>
          <!--Card-->
          <div class="check-card">
            <input type="radio" name="language_selection" />
            <div class="check-card-inner">
              <img
                src="https://dummyimage.com/150x150"
                data-demo-src="img/icons/flags/thailand.svg"
                alt=""
              />
              <div class="meta">
                <span>Thai</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
