<div class="main-navigation" x-data="initNavbar()"  x-on:scroll.window="scroll()" 
    :class="{
        'is-scrolled': scrolled,
        '': !scrolled,
        'is-expanded': searchExpanded,
        '': !searchExpanded
    }">
    <div class="main-navigation--menu">

        <div class="container">
            <div class="main-navigation--menu-inner">
                <div class="left">
                    <a href="/" class="brand">
                        <img class="light-logo" src="/img/logo/logo-w.svg" alt="">
                        <img class="dark-logo" src="/img/logo/logo.svg" alt="">
                    </a>
                </div>
        
                <div class="center">
                    <div class="navigation-link">
                        <a>Events</a>
                    </div>
                    <div class="navigation-link">
                        <a>Meetups</a>
                    </div>
                    <div class="navigation-link">
                        <a>Trips</a>
                    </div>
                    <div class="search-fold" @click="expandSearch()">
                        <span>Search events near you</span>
                        <button class="mini-search-button">
                            <i data-feather="search"></i>
                        </button>
                    </div>
                </div>
        
                <div class="right">
                    <div class="navigation-link">
                        <a>Host an Event</a>
                    </div>
                    <div class="navigation-link is-icon mx-4">
                        <ion-icon name="globe-outline"></ion-icon>
                    </div>
                    <figure class="image is-32x32">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
            </div>
        </div>

    </div>
    <div class="main-navigation--search">
        <div class="search-bar">
            <div class="block-30" @click="openDrop('location-drop'), $refs.locationInput.focus()" @click.away="closeDrop('location-drop')" :class="{
                    'is-active': locationDropOpened,
                    '': !locationDropOpened
                }">
                <div class="field">
                    <label>Location</label>
                    <div class="control">
                        <input x-ref="locationInput" placeholder="Where are you?">
                    </div>
                </div>

                <div x-show.transition="locationDropOpened" class="location-dropdown">
                    <div class="location-dropdown-inner">
                        <a class="near-link">
                            <div class="near-icon">
                                <i data-feather="map-pin"></i>
                            </div>
                            <span>Explore events near you</span>
                        </a>
                        <div class="near-tags">
                            <h4>Places near you</h4>
                            <div class="tags">
                                <span class="tag">Los Angeles</span>
                                <span class="tag">San Francisco</span>
                                <span class="tag">San Diego</span>
                                <span class="tag">Orange County</span>
                                <span class="tag">San Juan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-20" @click="openDrop('start-date-drop'), $refs.startDateInput.focus()" @click.away="closeDrop('start-date-drop')" :class="{
                    'is-active': startDateDropOpened,
                    '': !startDateDropOpened
                }">
                <div class="field">
                    <label>Starting</label>
                    <div class="control">
                        <input x-ref="startDateInput" class="search-datepicker-start" placeholder="Select a date">
                    </div>
                </div>
            </div>
            <div class="block-20" @click="openDrop('end-date-drop'), $refs.endDateInput.focus()" @click.away="closeDrop('end-date-drop')" :class="{
                    'is-active': endDateDropOpened,
                    '': !endDateDropOpened
                }">
                <div class="field">
                    <label>Ending</label>
                    <div class="control">
                        <input x-ref="endDateInput" class="search-datepicker-end" placeholder="Select a date">
                    </div>
                </div>
            </div>
            <div class="block-30">
                <div class="field has-search-button">
                    <label>Audience</label>
                    <div class="control">
                        <input placeholder="Pick a type">
                    </div>
                </div>

                <button class="search-button":class="{
                        'is-expanded': searchActive,
                        '': !searchActive
                    }">
                    <i data-feather="search"></i>
                    <span> Search</span>
                </button>
            </div>
        </div>
    </div>
</div>