<div class="mobile-sub-navigation">
    <div class="mobile-sub-navigation--inner">
        <div class="sub-links">
            <a class="sub-link">
                <div>
                    <ion-icon name="telescope-outline"></ion-icon>
                    <span>Explore</span>
                </div>
            </a>
            <a class="sub-link">
                <div>
                    <ion-icon name="heart-outline"></ion-icon>
                    <span>Wishlist</span>
                </div>
            </a>
            <a class="sub-link">
                <div>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <span>Sign In</span>
                </div>
            </a>
        </div>
    </div>
</div>