

.button {
    font-family: $font;
    height: 3em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    border-radius: 8px;
    transition: all .3s;

    &.is-heavy {
        font-weight: 500;
    }

    &.is-primary {
        &.is-raised-hover:hover {
            box-shadow: $primary-box-shadow;
        }

        &.is-raised {
            box-shadow: $primary-box-shadow;
        }
    }
}